<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" name="username" placeholder="Enter your name" /> <br /><br />
      <textarea type="content" name="content"></textarea><br /><br />
      <button type="submit">Submit</button><br />
      <br><br><br>
      
    </form>
  </body>
</html>
